*.log
.DS_Store
.env
.env.*
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
node_modules/
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
vendor/
pay/vendor/
Homestead.json
Homestead.yaml
Thumbs.db
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/*
/storage/logs/*
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
!/storage/framework/cache/.gitignore
!/storage/logs/.gitignore
*.pdf
/seo-fixes/
/apply_fixes.php
/videos/
/scren/
/storage/media-library/
*.mp4
/pay/uploads/
/pay/vendor/
